body {
    color: #575757;
    background-color: #eef;
}

h1 {
    font-size: 32px;
}

h2, h3 {
    font-size: 24px;
}

.resume,
.descript,
.skills {
    width: 720px;
    margin: 0 auto;
}

.resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    height: 320px;
}

.resume img {
    width: 30%;
    object-fit: cover;
    margin: 0;
}

.resume section {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    width: 60%;
}

.resume button {
    padding: 8px 16px;
    margin: 10px;
    clear: both;
}

.image {
    margin: 0 auto;
}

.skills {
    margin-bottom: 64px;
}

.tags {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    margin: 0;
}

.tags li {
    border-radius: 8px;
    font-size: 13px;
    line-height: 16px;
    padding: 4px 12px;
    margin-right: 4px;
    border: 1px solid #dde;
    list-style: none;
}

